.Person {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.PersonImg {
    width: 100%;
    z-index: 2;
    border: 1.5px solid rgb(255, 255, 255);
    margin-bottom: 5%;
    cursor: pointer;
    transition: 0.3s all;
}

.hoverName {
    position: absolute;
    color: white;
    z-index: 5;
    font-family: TT Livret;
    padding-top: 20%;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 0;
    word-spacing: 4px;
    font-size: 200%;
    opacity: 0;
    transition: 0.3s all;
}

.hoverShortInfo {
    position: absolute;
    color: white;
    z-index: 5;
    font-family: TT Livret;
    padding-top: 25%;
    padding-left: 5%;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 0;
    word-spacing: 4px;
    font-size: 150%;
    opacity: 0;
    transition: 0.3s all;
}

.PersonName {
    text-align: center;
    z-index: 0;
    color: #ffffff;
    z-index: 5;
    font-family: TT Livret;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 0;
    word-spacing: 4px;
    font-size: 230%;
    transition: 0.3s all;
}

.Person:hover .PersonName{
    transform: translateY(50%);
    opacity: 0;
}

.Person:hover .PersonImg {
    filter: brightness(40%);
    color: black;
}

.Person:hover .hoverName {
    transform: translateX(+15%);
    opacity: 1;
}

.Person:hover .hoverShortInfo {
    transform: translateX(-15%);
    opacity: 1;
}