
.BackgroundImage {
    background: url('http://www.ihep.su/dyn_images/expose/big6759.jpg');
    filter: brightness(60%);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
    width: 100vw;
    position: ;
}

.firstSlide {
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 20, 20);
    color: white;
}

.MainText {
margin-top: 25%;
margin-left: 3%;
font-size: 150%;
filter: brightness(160%);
}

.Title {
    font-size: 250%;
    border-bottom: 2px solid white;
    margin-bottom: 3%;
    width: fit-content;
}

.Navigation {
    color: black;
}

.NavigationUL {
    margin-top: 20%;
    padding: 5%;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 160%;
}

.NavigationUL li {
    margin-bottom: 5%;
    list-style-type: none;
    cursor: pointer;
    text-decoration: underline 2px blue;
}

.NavigationUL li:hover {
    text-decoration: u;
}