


.firstSlide {
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100vh;
    width: 100vh;
    background:
    linear-gradient(180deg, rgb(12, 12, 12) 0%, rgba(255,255,255,0) 25%, rgb(15, 15, 15) 72%),
    linear-gradient(270deg, rgb(12, 12, 12) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 50%, rgb(12, 12, 12) 100%),

    url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLM51Yxc1u-J_nMDNQNlPpENtqy09YRHMFY4gzDNMDMQ&s');
    background-size: 100%;
    
    background-repeat: no-repeat;
}