.Wrapper {
    height: 100vh;
}

.BackgroundImg {
    background: url('https://cdn.nationalprojects.ru/upload/iblock/cd5/svlb11t6laxv3ipsx2nt7f1d1y6are2n.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
    position: fixed;
}

.MainCenterInfoWrapper { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.MainCenterInfo {
    text-align: center;
}

.LogoUniversity {
    width: 20vw;
    display: block;
}
.UniversityName {
    display: block;
}