.AheadWrapper {
    height: 100vh;
    overflow-x: hidden;
}
.Wrapper {
    position: relative;
    bottom: 100vh;
    height: 100vh;
}

.BackgroundImg {
    background: url('https://cdn.nationalprojects.ru/upload/iblock/cd5/svlb11t6laxv3ipsx2nt7f1d1y6are2n.jpeg');
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
    min-width: 100vw;
    position: relative;
}

.Specialities {
    filter: brightness(100%);
    color: white;
    width: fit-content;
    margin-left: 2%;
    margin-top: 15%;
    font-size: 100%;
    width: 25vw;
}

.SpecsTitle {
    font-size: 120%;
}

.leadingSpec {
    font-size: 120%;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.NotLeadingSpec {
    margin-top: 2%;
}
.spec {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.NotLeadingSpec div {
    margin-bottom: 1%;
}

.MainCenterInfoWrapper { 
    margin-top: -20%;
    height: 100%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(100%);
}

.MainCenterInfo {
    text-align: center;
    filter: brightness(100%);
}

.LogoUniversity {
    width: 30vw;
    filter: brightness(100%);
}
.UniversityName {
    filter: brightness(100%);
    color: white;
    font-size: 300%;
}

.transcript {
    font-size: 50%;
}

.RealWebSiteLink {
    filter: brightness(100%);
    margin-top: -30%;
}


.Ratings {
    display: grid;
    grid-template-columns: 2fr 2fr;
    filter: brightness(100%);
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    color: black;
}

.CountryRating {
    padding: 10% 2% 10% 2%;
    background-color: white;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 1em;
    margin-right: 2.5%;
}

.GlobalRating {
    padding: 10% 2% 10% 2%;
    background-color: white;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 1em;
    margin-left: 2.5%;
}

.Number {
    position: relative;
    bottom: 65%;
    font-size: 1vw;
}

.text {
    margin-top: -5%;
    margin-bottom: -5%;
}

.RatingIMG {
    width: 3vw;
}