.CenterSlog {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CMTheme {
    position: absolute;
    top: 0;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 25%;
}

.OTheme {
    position: absolute;
    top: 0;
    right: 0;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 30%;
}

.TORTheme {
    position: absolute;
    top: 0;
    right: 0;
    height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 37%;
}

.NPTheme {
    position: absolute;
    top: 0;
    height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 40%;
}