.CenterSlog {
    position: absolute;
    top: 0;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 50%;
    z-index: 2;
    font-size: 1vw;
}

.CMThemeWrap {
    position: absolute;
    top: 0;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 15%;
    z-index: 2;
}

.CMTheme {
    font-size: 1vw;
}

.CMTheme::before {
    display: inline;
	position: absolute;
    right: -250%; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    bottom: 1.2%;
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 0.3vh; /*задаём ширину линии*/
	background-color: #000000; /*задаём цвет линии*/
	content: "";
	transition: width 1.5s ease-out; /*задаём время анимации*/
}


.CMTheme:hover::before {
    position: absolute;
    width: 250%;
}


.EThemeWrap {
    position: absolute;
    top: 0;
    height: 20vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 15%;
    z-index: 3;
}

.ETheme {
    font-size: 1vw;
}

.ETheme::before {
    display: inline;
	position: absolute;
    right: -250%; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    bottom: 1.2%;
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 0.3vh; /*задаём ширину линии*/
	background-color: #000000; /*задаём цвет линии*/
	content: "";
	transition: width 1.5s ease-out; /*задаём время анимации*/
}

.ETheme::after {
    display: block;
	position: absolute;
    right: -320%;
	/*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 0.3vh; /*задаём ширину линии*/
    transform: rotate(0.125turn) translate();
	background-color: #000000; /*задаём цвет линии*/
	content: "";
	transition: width 1.5s ease-out; /*задаём время анимации*/
}

.ETheme:hover::after {
    width: 230%;
}

.NPThemeWrap {
    position: absolute;
    top: 0;
    height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 15%;
    z-index: 1;
}


.NPTheme {
    
    font-size: 1vw;
}

.OTheme {
    position: absolute;
    top: 0;
    right: 0;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 17%;
    font-size: 1vw;
}

.TORTheme {
    position: absolute;
    top: 0;
    right: 0;
    height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 17%;
    font-size: 1vw;
}


.MKTTheme {
    position: absolute;
    top: 0;
    right: 0;
    height: 20vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 17%;
    font-size: 1vw;
}

