.CenterSlog {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CMTheme {
    position: absolute;
    top: 0;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 15%;
}

.OTheme {
    position: absolute;
    top: 0;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 85%;
}

.TORTheme {
    position: absolute;
    top: 0;
    height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 85%;
}

.ETheme {
    position: absolute;
    top: 0;
    height: 20vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 15%;
}

.MKTTheme {
    position: absolute;
    top: 0;
    height: 20vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 85%;
}

.NPTheme {
    position: absolute;
    top: 0;
    height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 15%;
}