.headerWrapper {
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

.MainInfo {
    padding-top: 25%;

    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    text-align: center;
}

.PhysicParagraph {
    font-size: 400%;
}

.citatum {
    font-size: 200%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.PhysicParagraph::selection {
    background-color: white;
    color: black;
}

.citatum::selection {
    background-color: white;
    color: black;
}

/* .MainBody {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 20fr 2fr;
} */

.MainBody {


    background: url('C:\Users\igrka\Desktop\IP\design\PhysicsImage.jpg');
    
    
    background-size: cover;
    
    
    background-repeat: no-repeat;
    
    filter: brightness(100%);
    
    
    }
    
    .DecorImg1 {
        width: 200px;
        height: 200px;
    }