.burgerMenuWrap {
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    position: fixed;
    z-index: 50;
    color: white;
}

.ParentsElements {
    width: 40%;
    margin-left: 5%;
}

.burgerParentEl {
    margin-bottom: 8%;
    font-size: 300%;
    cursor: pointer;
    width: fit-content;
    transition: 0.5s all;
}

.burgerParentElHidden{
    margin-bottom: 2%;
    font-size: 300%;
    cursor: pointer;
    width: fit-content;
    color: rgb(20, 20, 20);
    transition: 0.5s all;
}

.burgerParentEl::after {
    display: block;
    height: 2px;
    position: relative;
    width: 0;
    content: '';
    background-color: #ffffff;
    transition: width 0.2s ease-out;
}

.burgerParentEl:hover::after {
    width: 100%;
}

.HeaderBurgerMenu{ 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
}


.logoBurgMenu {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.closeBurgMenu {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 130%;
    padding: 2% 6% 2% 6%;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 2em;
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    transition: all 0.2s;
}

.closeBurgMenu:hover {
    border: 1px solid rgb(255, 255, 255);
}