.spec {
    display: grid;
    grid-template-columns: 4fr 3fr;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 1%;

}

.title {
    border-right: 2px solid black;
    height: 102%;
}

.marks1 {
    display: inline;
}

.marks2 {
    display: inline;
}

.marks3 {
    display: inline;
}