.spec {
    display: grid;
    grid-template-columns: 4fr 3fr;
    background-color: white;
    color: black;
}

.title {
    border-right: 2px solid black;
    height: 100%;
}

.marks1 {
    display: inline;
}

.marks2 {
    display: inline;
}

.marks3 {
    display: inline;
}