.burgerParentEl {
    margin-bottom: 2%;
    font-size: 300%;
    cursor: pointer;
    width: fit-content;
    transition: 0.5s ease-out 0.3s;
}

.burgerParentElHidden{
    margin-bottom: 0;
    font-size: 300%;
    cursor: pointer;
    width: fit-content;
    color: rgb(20, 20, 20);
    transition: 1s all;
}

.burgerParentEl::after {
    display: block;
    height: 2px;
    position: relative;
    width: 0;
    content: '';
    background-color: #ffffff;
    transition: width 0.2s ease-out;
}

.burgerParentEl:hover::after {
    width: 100%;
}


.burgerParentElSelected {
    margin-bottom: 2%;
    font-size: 300%;
    cursor: pointer;
    width: fit-content;
}


.burgerParentElSelected::after {
    display: block;
    height: 2px;
    position: relative;
    width: 100%;
    left: 0;
    content: '';
    background-color: #ffffff;
    transition: 0.3s all;
}

.burgerParentElNotSelected {
    margin-bottom: 2%;
    font-size: 300%;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s all;
    color: #747474;
}

.burgerParentElNotSelected::after {
    display: block;
    height: 2px;
    position: relative;
    width: 0;
    left: 0;
    content: '';
    background-color: #ffffff;
    transition: 0.3s all;
}

.burgerParentElNotSelected:hover {
    color: #ffffff;
}

.ChildrenElements {
    margin-bottom: auto;
    transition: 0.25s all;
    transform: translateX(0);
    opacity: 100%;
    position: fixed;
}

.ChildrenElementsHidden {
    color: rgb(20, 20, 20);
    transform: translateX(-10%);
    opacity: 0;
    position: fixed;
}