.AheadWrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.Wrapper {
    position: relative;
    bottom: 100vh;
    height: 100vh;
}

.Specialities {
    filter: brightness(100%);
    color: white;
    width: fit-content;
    margin-left: 2%;
    margin-top: 7%;
    margin-bottom: 8%;
    font-size: 100%;
    width: 25vw;
}

.SpecsTitle {
    font-size: 1.2vw;
}

.leadingSpec {
    font-size: 1.2vw;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.NotLeadingSpec {
    font-size: 1vw;
    margin-top: 2%;
}
.spec {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.NotLeadingSpec div {
    margin-bottom: 1%;
}

.MainCenterInfoWrapper { 
    margin-top: -40%;
    height: 100%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(100%);
}

.MainCenterInfo {
    text-align: center;
    filter: brightness(100%);
    width: 30vw;
}

.LogoUniversity {
    width: 30vw;
    filter: brightness(100%);
}

.LogoWrap{ 
    height: 20vh;
}
.UniversityName {
    filter: brightness(100%);
    color: white;
    font-size: 2vw;
}

.transcript {
    font-size: 50%;
}

.RealWebSiteLink {
    filter: brightness(100%);
    margin-top: -30%;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 1%;
    border: 2px black solid;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

    color: black;
}

.href {
    text-decoration: none;
}


.RealWebSiteLink:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}


.Ratings {
    display: grid;
    grid-template-columns: 2fr 2fr;
    filter: brightness(100%);
    width: 35%;
    margin-top: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    color: black;
}

.CountryRating {
    padding: 10% 2% 10% 2%;
    background-color: white;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 1em;
    margin-right: 2.5%;
}

.GlobalRating {
    padding: 10% 2% 10% 2%;
    background-color: white;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 1em;
    margin-left: 2.5%;
}

.Number {
    position: relative;
    bottom: 65%;
    font-size: 1vw;
}

.text {
    margin-top: -5%;
    margin-bottom: -5%;
}

.RatingIMG {
    width: 3vw;
}