.AheadWrapper {
    background-color: #cfcfcf;
    height: 100%;
    padding: 3%;
}

.NavBlocksWrapper {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    margin-bottom: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    grid-column-gap: 7%;
}

.PhysicsLink {
    text-decoration: underline blue;
    transition: all 0.5s;
    width: 80%;
    margin-bottom: 6%;
    box-sizing: border-box;
}
