.AheadWrapper {
    background-color: #cfcfcf;
    height: 100%;
    padding: 3%;
}

.NavBlocksWrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
}

.PhysicsLink {
    text-decoration: underline blue;
    background-color: aquamarine;
    transition: all 0.5s;
    width: 80%;
    margin-bottom: 4%;
    box-sizing: border-box;
}
