.PersonImg {
    width: 300px;
    height: 400px;
    z-index: 2;
    position: absolute;
}

.PersonInfo {
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.PersonImg:hover .PersonInfo {
    transform: translateX(20%);
}