.PersonImg {
    width: 300px;
    height: 400px;
    z-index: 2;
    position: absolute;
}

.PersonInfo {
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 3;
    transform: translateX(0%);
    color: black;
}

.PersonImg:focus .PersonInfo{
    transform: translateX(+100%);
}