.burgerParentEl {
    margin-bottom: 2%;
    font-size: 300%;
    cursor: pointer;
    width: fit-content;
    transition: 0.5s ease-out 0.3s;
}

.burgerParentElHidden{
    margin-bottom: 0;
    font-size: 300%;
    cursor: pointer;
    width: fit-content;
    color: rgb(20, 20, 20);
    transition: 1s all;
}

.burgerParentEl::after {
    display: block;
    height: 2px;
    position: relative;
    width: 0;
    content: '';
    background-color: #ffffff;
    transition: width 0.2s ease-out;
}

.burgerParentEl:hover::after {
    width: 100%;
}